/* font family:  */
/* font-family: 'Lato', sans-serif;
   font-family: 'Pacifico', cursive; */

.header{
    background-color: #EFEFD0;
}

#logo-box{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

#logo{
    border-radius: 10px;
    width: 70px;
    height: auto;
    margin: 20px;
}

#logo-name{
    font-size: 40px;
    font-family: 'Pacifico', cursive;
}

.user-name{
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}