.bi-chevron-left{
    font-size: 40px;
    position: fixed;
    top: 90px;
    left: 50px;
    color: #444A58;
}

.box{
    margin:10px 10px;
}

.title{
    font-size: 20px;
    font-family:'Lato', sans-serif;
    padding: 3px;
}

.event-text-box{
    width: 400px;
}

.venue-check{
    display: flex;
}

.form-check{
    margin: 10px;
}