body {
    font-family: 'Calibri';
}

.poll-container {
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
}

.poll-frame {
	display: flex;
	justify-content: center;
	align-items: flex-start;
    margin: 20px 0;
    flex-wrap: wrap;
}

.option-container {
    width: 200px;
    height: 200px;
    background-color: #F9F9DA;
    border-radius: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
}

.option-container:hover {
    opacity: .7;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.address {
    font-size: 20px;
}

#poll-submit-button,
#poll-terminate-button {
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	padding: 10px 20px 10px 20px;
	border-radius: 20px;
	margin: 18px;
	min-width: 110px;
}

#poll-submit-button {
	box-shadow: 0px 1px 12px #f2d492;
	background-color: #f2d492;
	border: none;
	color: #293241;
}

#poll-terminate-button {
    box-shadow: none;
    background-color: #D8684E;
    border: #C7492C 3px solid;
    color: white;
    font-weight: bold;
}

.poll-title {
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}

.selected {
    border: solid black 5px;
}

.vote {
    font-size: 15px;
}