body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

img {
	width: 300px;
	height: auto;
}

.word {
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	font-size: 50px;
	margin: 30px;
}
