body {
    font-family: 'Franklin Gothic Medium';
    padding:10px;
    background-color: #FDFDF4;

}

#table-body {
    border-radius: 10px;
}

#table-header {
    background-color: white;
}

.table-container {
    text-align: right;
}

#add-new-party-button {
    width: 500px;
    background-color: #F2D492;
    color: black;
    border-radius: 10px;
    text-align: left;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
a:hover {
    background-color: #ddd;
    color: black;
  }
  
.round {
    border-radius: 50%;
    background-color: #f1f1f1;
    color: grey;
  }
  font-family: "Franklin Gothic Medium";
  padding: 10px;
  background-color: #f2d492;
}

.table-header {
  background-color: white;
  border-radius: 10px 10px 0 0;
}

#add-new-party-button {
  width: 500px;
  background-color: #f2d492;
  color: black;
  border-radius: 10px;
  text-align: left;
}
