/* font family:  */
/* font-family: 'Lato', sans-serif;
   font-family: 'Pacifico', cursive; */



.navbar > .navbar-brand{
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    margin: 5px;

}

.navbar > .btn{
    font-size: 20px;
    font-family:'Lato', sans-serif;
    color: #293241;
}

#logo-name{
    font-size: 60px;
    color: #293241;
    font-family: 'Pacifico', cursive;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.introduction-box{
    background-color: #EFEFD0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    margin-top: 20px;
}

.description-box{
    background-color: #A6B7F4;
    width: 400px;
    border-radius: 20px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description{
    font-size: 30px;
    font-family:'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.description-details{
    font-size: 18px;
    font-family:'Lato', sans-serif;
    padding: 10px;
    width: 320px;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.buttons > button{
    font-size: 20px;
    color: #293241;
    font-family: 'Lato', sans-serif;
    background-color: #F2D492;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    margin: 18px;
    width: 200px;
    box-sizing: border-box;
    border: none;
    box-shadow: 0px 1px 14px #F2D492;
    touch-action: manipulation;
}


.modal-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-login{
    font-size: 14px;
    color: #293241;
    font-family: 'Lato', sans-serif;
    background-color: #F2D492;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    margin: 18px;
    width: 110px;
    border: none;
    box-shadow: 0px 1px 12px #F2D492;
}

#logo-name {
  font-size: 60px;
  font-family: "Pacifico", cursive;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.introduction-box {
  background-color: #efefd0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  margin-top: 20px;
}

.description-box {
  background-color: #a6b7f4;
  width: 400px;
  border-radius: 20px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  font-size: 30px;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.description-details {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  padding: 10px;
  width: 320px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.buttons > button {
  font-size: 20px;
  color: #293241;
  font-family: "Lato", sans-serif;
  background-color: #f2d492;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  margin: 18px;
  width: 200px;
  box-sizing: border-box;
  border: none;
  box-shadow: 0px 1px 14px #f2d492;
  touch-action: manipulation;
}

.modal-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-login {
  font-size: 14px;
  color: #293241;
  font-family: "Lato", sans-serif;
  background-color: #f2d492;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  margin: 18px;
  width: 110px;
  border: none;
  box-shadow: 0px 1px 12px #f2d492;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-title {
  font-size: 25px;
  font-weight: bold;
  color: #293241;
  font-family: "Lato", sans-serif;
}

.form-label {
  color: #293241;
  font-family: "Lato", sans-serif;
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-title {
  text-align: center;
}

.form-control {
  border-width: 2px;
  border-radius: 10px;
}

#user-email {
  border-color: #1ecbe1;
}

#user-password {
  border-color: #e1341e;
}

#login-form-submit,
#register-submit {
  width: 100%;
}

.form-label {
  position: absolute;
  top: -12px;
  left: 20px;
  background-color: white;
}

.form-header {
  margin: 0 0 5px 0;
}

#login-modal .input-panel {
  margin: 20px 20px;
  position: relative;
}

#register-modal .input-panel {
  margin: 0 20px;
}

.user-email .form-label {
  color: #1ecbe1;
}

.user-password .form-label {
  color: #e1341e;
}
