.bi-chevron-left {
	font-size: 30px;
	position: fixed;
	top: 90px;
	left: 40px;
	color: #444a58;
	cursor: pointer;
}

.category-text {
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	margin-bottom: 10px;
}

/* shopping list */
.shopping-list {
	background-color: #fefde2;
	height: 700px;
	border-radius: 20px;
	margin: 10px 2px 5px 5px;
	width: 100%;
	padding: 20px;
}

.shopping-list .item-list {
	height: 700px;
	width: 100%;
	background-color: #fff;
}

.pending-item-header {
	display: flex;
	justify-content: space-between;
}

.bi-filter-circle {
	color: #495871;
	width: 20px;
	height: 20px;
}

.pending-item {
	display: flex;
	justify-content: space-between;
}
.check-btn {
	border: none;
	border-radius: 20px;
	background-color: #fff;
}

.bi-check-circle {
	color: #495871;
	width: 20px;
	height: 20px;
}

.shorting-btn {
	border: none;
	border-radius: 20px;
	background-color: #fff;
}

/* item category */

.category-text-items {
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 10px;
}

.category-edit {
	border-radius: 20px;
	border: none;
	background-color: #f29559;
	color: #fff;
}

.bi-pencil-square:hover {
	color: #495871;
}

.item-category {
	background-color: #fefde2;
	height: 338px;
	border-radius: 20px;
	margin: 15px;
	width: 100%;
	padding: 20px;
}

.item-category .item-list {
	height: 70%;
	width: 100%;
	background-color: #fff;
}

/* Modal UI */
#editModalTittle {
	font-size: 30px;
	font-family: 'Lato', sans-serif;
}

.modal-header {
	display: flex;
	justify-content: space-between;
}

/* modal - table */
.border {
	border: 10px solid #9bafd0;
	border-radius: 20px;
	padding: 10px;
	max-height: 500px;
	overflow-y: scroll;
}

tr {
	font-family: 'Lato', sans-serif;
	color: #293241;
}

.bi-trash {
	color: #ee6c4d;
}

.delete-btn {
	border-radius: 20px;
	border: none;
	background-color: #fff;
}

/* modal - footer */
.format {
	justify-content: space-between;
	font-family: 'Lato', sans-serif;
	color: #293241;
}

.save-submit {
	font-size: 18px;
	color: #293241;
	font-family: 'Lato', sans-serif;
	background-color: #f2d492;
	padding: 4px 14px 4px 14px;
	border-radius: 20px;
	margin: 8px;
	width: 100px;
	box-sizing: border-box;
	border: none;
	outline: solid 3px #f2d492;
	transition: outline 0.3s linear;
	margin: 0.5em;
}

.save-submit:hover {
	outline-width: 5px;
}
