@media (min-width: 1200px) {
    .form-container {
        padding: 0px 400px !important;

    }
}

.form-container {
    padding: 0px 50px;
    align-items: center;
    align-content: center;
}

.name_container {
    display: flex;
}

.first_name_container {
    padding: 0px 20px 0px 0px;
}

.update {
    border-radius: 20px;
    color: black;
    background-color: #F29559;
    border: none;
}

.cancel {
    border-radius: 20px;
    color: black;
    background-color: #9BAFD0;
    border: none;
}

.btn {
    min-width: 120px;
    font-size: 15px;
}

.mb-3 {
    max-width: 400px;
}

.button-container {
    padding: 30px;
    display: flex;
    justify-content: space-between;

}

#account-info {
    padding: 50px 0px;
}