body {
    font-family: 'Franklin Gothic Medium';
    padding:10px;
    background-color: #FDFDF4;

}

/* login nav css */

.header-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #efefd0;
}


.navbar-brand > img {
  border-radius: 10px;
}

.navbar > .navbar-brand {
  font-size: 30px;
  font-family: "Pacifico", cursive;
  margin: 5px;
}

.navbar > .btn {
  font-size: 20px;
  color: #293241;
}

#logo-name {
  font-size: 60px;
  color: #293241;
  font-family: "Pacifico", cursive;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.login-part {
  display: flex;
  justify-items: center;
}

.user-login {
  display: flex;
  align-content: center;
}

.landing-Page-login-btn {
  font-size: 20px;
  color: #495871;
  font-family: "Lato", sans-serif;
}

.landing-Page-login-btn > .bi {
  margin: 0px 10px 0px 2px;
}

/* nav css */


.table-body {
  border-radius: 10px;
}

#table-header {
    background-color: white;
}

.table-container {
    text-align: right;
}

#add-new-party-button {
    width: 500px;
    background-color: #F2D492;
    color: black;
    border-radius: 10px;
    text-align: left;
}
  
.round {
    border-radius: 50%;
    background-color: #f1f1f1;
    color: grey;
  }

.table-header {
  background-color: white;
  border-radius: 10px 10px 0 0;
}

#add-new-party-button {
  width: 500px;
  background-color: #f2d492;
  color: black;
  border-radius: 10px;
  text-align: left;
}

th {
  text-align: center;
  max-width: 150px;
}