.bi-chevron-left{
    font-size: 30px;
    position: fixed;
    top: 90px;
    left: 50px;
    color: #444A58;
}

.box{
    margin:10px 10px;
}

.title{
    font-size: 20px;
    font-family:'Lato', sans-serif;
    padding: 3px;
}

.event-text-box{
    width: 400px;
}

.venue-check{
    display: flex;
    font-size: 16px;
    font-family:'Lato', sans-serif;
}

.form-check{
    margin: 10px;
}

.event-time-label{
    font-size: 18px;
    font-family:'Lato', sans-serif;
    margin: 4px 10px 4px 0px;
}

.parking-box{
    display: flex;
}

.parking-number-input{
    margin-left: 10px;
    width: 30px;
}