.bi-chevron-left{
    font-size: 30px;
    position: fixed;
    top: 90px;
    left: 50px;
    color: #444A58;
}

.from-container{
    display: flex;
    justify-content: center;
}

.box{
    margin:10px 10px;
}

.form-header{
    font-size: 20px;
    font-family:'Lato', sans-serif;
    padding: 3px;
}

.venue-check{
    display: flex;
    font-size: 16px;
    font-family:'Lato', sans-serif;
}

.form-check{
    margin: 10px;
    font-size: 16
    px;
    font-family:'Lato', sans-serif;
}

.event-time-label{
    font-size: 19px;
    font-family:'Lato', sans-serif;
    margin: 4px 10px 4px 0px;
}

.eventdate-box{
    display: flex;
    flex-direction: row;
}

.event-time-label-box{
    display: flex;
    flex-direction: column;
}

.event-time-label-box > input{
    color: #495871;
}

.clock{
    margin: 4px 10px 4px 0px;
}

.parking-box{
    display: flex;
    margin: 5px 0px;
}

.parking-number-input{
    margin-left: 10px;
    width: 70px;
}

#event-submit{
    display: flex;
    justify-content: center;
}
.event-submit-btn{
    cursor: pointer;
    width: 130px;
    margin-top: 20px;
}


.form-control{
    border-width: 2px;
    border-radius: 10px;
    width: 400px;
}

